{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PetJoy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'decorate.css' %}">
</head>
<body>

    <header class="navbar">
        <div class="navbar-left">
            <class="logo-link"><div class="logo">🐾 PetJoy</div>
        </div>
        <div class="navbar-center">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="ค้นหาของเล่นสัตว์เลี้ยง...">
                <button class="search-button">
                    <img src="{% static 'images/search.png' %}" alt="Search" class="search-icon">
                </button>
            </div>
        </div>
        <div class="navbar-right">
            <span class="cart-icon">🛒</span>
            {% if user.is_authenticated %}
                <span>สวัสดี, {{ user.username }}</span>
                <a href="{% url 'petjoy:logout' %}" class="login-text">ออกจากระบบ</a>
            {% else %}
                <a href="{% url 'petjoy:login' %}" class="login-text white-btn">เข้าสู่ระบบ</a>
            {% endif %}
        </div>
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>
</body>
</html>