{% extends "petjoy/base.html" %}
{% load static %}

{% block title %}สินค้าแก๊งแมว{% endblock %}

{% block content %}
<h2 style="margin-top: 2rem;">
    <a href="#" onclick="window.history.back(); return false;" style="text-decoration:none; color:inherit; font-size:1.5em; vertical-align:middle; margin-right:10px;">&lt;</a>
    สินค้าแก๊งแมว
</h2>
<div class="products-grid">
    {% for product in products %}
        <div class="product-item">
            <div class="product-image-placeholder">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                {% else %}
                    <img src="{% static 'images/CAT.jpg' %}" alt="Cat" class="product-image">
                {% endif %}
            </div>
            <div class="product-name">{{ product.name }}</div>
            <div class="product-desc">{{ product.description }}</div>
            <div class="product-price">{{ product.price }} บาท</div>
            <a href="{% url 'petjoy:product-detail' product.pk %}" class="view-more-button">ดูรายละเอียด</a>
        </div>
    {% empty %}
        <div>ไม่มีสินค้าสำหรับแมวในขณะนี้</div>
    {% endfor %}
</div>
{% endblock %}
