{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เข้าสู่ระบบ - PetJoy</title>
    <link rel="stylesheet" href="{% static 'auth_style.css' %}">
</head>
<body>
    <div class="auth-container">
        <div class="auth-left">
            <div class="logo">🐾 PetJoy</div>
            <img src="{% static 'images/ลบพื้นหลัง.png' %}" alt="Smile" class="banner-smile">
        </div>
        <div class="auth-right">
            <div class="auth-box">
                <h2>เข้าสู่ระบบ</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button class="auth-button" type="submit">เข้าสู่ระบบ</button>
                </form>
                <div class="auth-links">
                  </div>
            </div>
        </div>
    </div>
</body>
</html>