{% extends "petjoy/base.html" %}
{% load static %}

{% block title %}เข้าสู่ระบบ - PetJoy{% endblock %}

{% block content %}
<div class="auth-page-wrapper">
    <div class="auth-left-panel">
    
        <img src="{% static 'images/ลบพื้นหลัง.png' %}" alt="Happy Dog Illustration">
    </div>
    <div class="auth-right-panel">
        <div class="auth-form-container">
            <h2 class="auth-title">เข้าสู่ระบบ</h2> 
            <form method="POST">
                {% csrf_token %}


                <div class="form-field">
                    <label for="{{ login_form.username.id_for_label }}">ชื่อผู้ใช้</label>
                    <input type="text" name="username" id="{{ login_form.username.id_for_label }}" class="input-auth" autofocus required>
                </div>
                <div class="form-field">
                    <label for="{{ login_form.password.id_for_label }}">รหัสผ่าน</label>
                    <input type="password" name="password" id="{{ login_form.password.id_for_label }}" class="input-auth" required>
                </div>

                {% if login_form.non_field_errors %}
                    <small class="error-text">{{ login_form.non_field_errors.0 }}</small>
                {% endif %}
                {% if login_form.username.errors %}
                    <small class="error-text">{{ login_form.username.errors.0 }}</small>
                {% endif %}
                {% if login_form.password.errors %}
                    <small class="error-text">{{ login_form.password.errors.0 }}</small>
                {% endif %}

                <button class="auth-button" type="submit">เข้าสู่ระบบ</button>
            </form>
            <div class="auth-links">
                <p>ยังไม่มีบัญชี? <a href="{% url 'petjoy:register' %}">สมัครสมาชิก</a></p>
                <p>คุณสนใจเป็นผู้ประกอบการหรือไม่?</p>
                <a href="{% url 'petjoy:entrepreneur-register' %}" class="auth-partner-link">สมัครเป็นผู้ประกอบการ</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}