# Web Framework
Django~=5.0.0

# Database Connector (PostgreSQL)
psycopg2-binary

# Environment Variable Handling (.env file)
python-dotenv

# Google Generative AI SDK (สำหรับ ai_service.py)
google-generativeai

# Packages มาตรฐานอื่นๆ ที่มักใช้ในโปรเจกต์ Django
Pillow